<div class="form-container">
    <div class="form">
      <form [formGroup]="forgetForm" (ngSubmit)="forgotUser()">
        <div class="form-head-text">
          <h2>
            Forget Password
            <br />
          </h2>
          <h3>Use your chatting Account</h3>
        </div>
        <div class="form-content">
          <mat-form-field appearance="outline">
            <mat-label>Enter Email</mat-label>
            <input matInput formControlName="email"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-field">
              <mat-label>NewPassword</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
              <mat-hint>
                  Use 8 or more characters with a mix of letters, numbers &
                  symbols
              </mat-hint>
              <mat-error *ngIf="registerFormControl.password.errors">
                  <mat-error *ngIf="registerFormControl.password.errors.required">
                      Password is required
                  </mat-error>
              </mat-error>
          </mat-form-field>
      </div>
        <div class="form-footer">
          <div>
            <button mat-button color="primary" (click)="redirectedToRegister()">Create</button>
          </div>
          <div>
            <button mat-flat-button color="primary" (click)="redirectedToLogin()">
              Redirect to login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>